<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VideoAnalyser</title>
    <style>
        #upload {
            background-color: whitesmoke;
            width: 400px;
            height: 200px;
            border-radius: 20px;
            transition: 0.5s;
        }

        #upload:hover {
            background-color: rgb(193, 216, 236);
        }
    </style>
</head>

<body>
    <center>
    <h1>Upload your video here</h1>
    <div id="upload">
        click here or drag and drop to upload video</center>
        <img src="/static/assets/Pause.png" alt="img" width="10px">
    </div>
</center>
</body>

</html>